body {
    background-color: bisque;
}

.edit-anchor {
    text-decoration: none;
    color: #111;
    display: block;
    text-align: center;
}

.site-logo {
    margin-left: 2vh;
}

#navbar {
    background-color: #71816d;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

ul {
    display: flex;
    list-style: none;
    margin-right: 2vh;
}

li a {
    padding: 14px 16px;
    font-size: 3vh;
    border-radius: 10px;
}

li a:hover {
    text-decoration: underline;
    background-color: #4f7a72;
}

.content-row {
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content-col {
    width: 50%;
    margin: 20px;
}

.btn {
    margin: 2vh;
    border: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    font-size: 2.5vh;
    background-color: #e09f3e;
}

form {
    padding: 10px;

}