<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>E-Vote</title>
</head>
<body>
    <nav id="navbar">

        <div class="site-logo">
            <a href="#"><h1>Online Voting System</h1></a>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="#">Guidelines</a></li>
                <li><a href="#">Cast Vote</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>

    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>