{% extends 'voting/base.html' %}
{% load static %}

{% block content %}
    <div class="content-row">

        <div style="background-color: red;" class="result content-col">Results</div>

        <div class="content-col">
            
            <div class="button-wrapper">
                <button class="btn">Voter Login</button>
                <button class="btn">Admin Login</button>
            </div>

            <div class="voter-login">
                <form class="voter-login-form" action="">
                    <input type="text" placeholder="Voter ID"><br>
                    <input type="password" placeholder="Password"><br>
                    <input type="submit" value="Login">
                </form>
            </div>

            <div class="admin-login">
                <form class="admin-login-form" action="">
                    <input type="text" placeholder="Username"><br>
                    <input type="password" placeholder="Password"><br>
                    <input type="submit" value="Login">
                </form>
            </div>

        </div>
    </div>
{% endblock %}