{% extends 'voting/base.html' %}
{% load static %}

{% block content %}
    <div class="relative">
        <div class="relative bg-blue-200 bg-opacity-75">
            <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
                <div class="flex flex-col items-center justify-center xl:flex-row">
                    <div class="w-full max-w-xl mb-12 xl:mb-0 xl:pr-16 xl:w-7/12">
                        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-white sm:text-4xl sm:leading-none">
                        The quick, brown fox <br class="hidden md:block" />
                        jumps over a <span class="text-teal-accent-400">lazy dog</span>
                        </h2>
                        <p class="max-w-xl mb-4 text-base text-gray-400 md:text-lg">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan, totam rem aperiam, eaque ipsa quae.
                        </p>
                        <a href="/" aria-label="" class="inline-flex items-center font-semibold tracking-wider transition-colors duration-200 text-teal-accent-400 hover:text-teal-accent-700">
                            Learn more
                            <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
                                <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="min-h-full flex items-center justify-center">
                        <div class="max-w-md w-full p-6 bg-slate-300 rounded-lg shadow-lg">
                            <h1 class="text-3xl font-semibold text-center font-mono text-red-400 mt-1 mb-6">Register</h1>
                            <form>
                                <div class="mb-4">
                                    <label for="nombre" class="block mb-2 text-sm font-bold font-mono text-red-400">Name: </label>
                                    <input type="text" id="nombre" name="nombre" class="w-96 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
                                </div>
                                <div class="mb-4">
                                    <label for="apellido" class="block mb-2 text-sm font-bold font-mono text-red-400">Voter ID.:</label>
                                    <input type="text" id="apellido" name="apellido" class="w-96 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
                                </div>
                                <div class="mb-4">
                                    <label for="email" class="block mb-2 text-sm font-bold font-mono text-red-400">Citizenship No.:</label>
                                    <input type="email" id="email" name="email" class="w-96 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="block mb-2 text-sm font-bold font-mono text-red-400">Date of Birth:</label>
                                    <input type="password" id="password" name="password" class="w-96 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
                                </div>
                                <div class="mb-6">
                                    <label for="confirmPassword" class="block mb-2 text-sm font-bold font-mono text-red-400">Address:</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword" class="w-96 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
                                </div>
                                <button type="submit" class="w-32 bg-gradient-to-r from-red-400 to-red-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mb-2">Registro</button>
                            </form>
                            <div class="text-center">
                                <p class="text-sm">¿Ya tienes una cuenta? <a href="#" class="text-cyan-600">Inicia sesión</a></p>
                            </div>
                            <p class="text-xs text-gray-600 text-center mt-8">&copy; 2023 WCS LAT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}